/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('../fonts/klinicslablightit-webfont.eot');
    src: url('../fonts/klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablightit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablightit-webfont.woff') format('woff'),
         url('../fonts/klinicslablightit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook_italic';
    src: url('../fonts/klinicslabbookit-webfont.eot');
    src: url('../fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbookit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbookit-webfont.woff') format('woff'),
         url('../fonts/klinicslabbookit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slablight';
    src: url('../fonts/klinicslablight-webfont.eot');
    src: url('../fonts/klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablight-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablight-webfont.woff') format('woff'),
         url('../fonts/klinicslablight-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook';
    src: url('../fonts/klinicslabbook-webfont.eot');
    src: url('../fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbook-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbook-webfont.woff') format('woff'),
         url('../fonts/klinicslabbook-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'langdonregular';
    src: url('../fonts/langdon-webfont.eot');
    src: url('../fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/langdon-webfont.woff2') format('woff2'),
         url('../fonts/langdon-webfont.woff') format('woff'),
         url('../fonts/langdon-webfont.ttf') format('truetype'),
         url('../fonts/langdon-webfont.svg#langdonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geared_slabthin';
    src: url('../fonts/gearedslab-light-webfont.eot');
    src: url('../fonts/gearedslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gearedslab-light-webfont.woff2') format('woff2'),
         url('../fonts/gearedslab-light-webfont.woff') format('woff'),
         url('../fonts/gearedslab-light-webfont.ttf') format('truetype'),
         url('../fonts/gearedslab-light-webfont.svg#geared_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geared_slabextrabold';
    src: url('../fonts/gearedslab-extrabold-webfont.eot');
    src: url('../fonts/gearedslab-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gearedslab-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gearedslab-extrabold-webfont.woff') format('woff'),
         url('../fonts/gearedslab-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gearedslab-extrabold-webfont.svg#geared_slabextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	margin: 0 !important;
}


h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'langdonregular';
	color: #313131;
}

h1:after {
	content: "";
	display: block;
	height: 10px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}
h2:after {
	content: "";
	display: block;
	height: 6px;
	width: 7%;
	background: #e7e930;
	margin-top: 8px;
}
h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input {
	 -webkit-appearance: none;
	 border-radius: 0 !important;
}

textarea {
	resize:none;
	border-radius: 0 !important;
}

input[type="submit"], input[type="file"] {
	outline: none;
}


.banner > img {
	border-bottom: 10px solid #234384;
}

.mandmBtn {
	background: #e7e930;
	color: #313131;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 50px;
	font-size: 26px;
	text-decoration: none;
	font-family: 'klinic_slabbook';
	text-decoration: none !important;
	cursor: pointer;
	border: none;
}

.mandmBtn:hover {
	opacity: .8;
}

.mandmBtn.sub {
	background: #313131;
	color: #fff;
	font-size: 18px;
	padding: 15px 20px;
}

.mandmBtn.prev,
.mandmBtn.next {
	max-width: 40%;
	margin-top: 10px;
}

.mandmBtn.prev {
	float: left;
}

.mandmBtn.next {
	float: right;
}

.clear {
	clear: both;
	height: 0;
}

/* splash page */

/* sticky footer bits*/
#splash-page {
	height: 100%;
}

#splash-page .logo {
	width: 100%;
	text-align: center;
	margin: -50px 0 -25px;
}

#splash-page .logo img {
	width: 170px;
}

#splash-page .containerWrapper {
	min-height: 100%;
	margin: 0 auto -272px;
}
.push {
	height: 272px;
}
#splash-page .footer  {
	height: 265px;
	background: url('../images/footerbg.jpg') no-repeat center top #234384;
	background-size: cover;
	border-top: 7px solid #172b56;
}

#splash-page a {
	text-decoration: none;
}

#splash-page a:hover {
	text-decoration: underline;
}

#splash-page .header {
	width: 100%;
    height:60px;
    border-bottom:  7px solid #4061a3;
    clear: both;
    background: #234384;
    text-align: right;
}

	#splash-page .header a {
		color: #fff;
		text-transform: uppercase;
		font-size: 15px;
		font-family: 'klinic_slablight_italic';
		line-height: 60px;
		letter-spacing: 0.05em;
	}

#splash-page .containerWrapper > .container {
	margin: 50px auto 100px;
}
#splash-page h1 {
	text-transform: uppercase;
	font-size: 119px;
	line-height: 0.9em;
	font-family: 'langdonregular';
	color: #313131;
}
#splash-page h1:after {
	content: "";
	display: block;
	height: 10px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}
#splash-page .banner {
	margin-bottom: 20px;
}
#splash-page .banner > img {
	border-bottom: 10px solid #234384;
}

#splash-page p {
	margin-top: 40px;
	font-size: 32px;
	line-height: 1.2em;
	font-family: 'klinic_slablight';
	color: #313131;
}

#splash-page .cta {
	text-align: center;
	margin-top: 70px;
}
#splash-page .cta .mandmBtn {
	margin: 0 10px;
}

/* Footer */
#splash-page .footer .container {
	padding-top: 50px;
}

#splash-page .footer h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 0.9em;
	font-family: 'langdonregular';
	color: #ffffff;
	margin-bottom: 0.68em;
}

#splash-page .footer h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

#splash-page .footer .footerLeft,
#splash-page .footer .footerRight {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}

	.footer .colophon {
		display: inline-block;
		width: 46%;
		margin:0 1% 0 0;
		vertical-align: top;
	}
		.footer .colophon:last-child {
			margin: 0 0 0 3%;
		}

	#splash-page .footer .colophon address, 
	#splash-page .footer .colophon p.contact {
		color: #fff;
		font-family: 'klinic_slablight';
		font-size: 16px;
		margin: 0;
		line-height: 1.25em;
	}

	#splash-page .footer .colophon address {
		margin-bottom: 10px;
	}

	#splash-page .footer .colophon.social p.contact {
		font-size: 18px;
		line-height: 1.7em;
	}
		#splash-page .footer .colophon .fa {
			width: 25px;
		}

		#splash-page .footer .colophon a {
			color: #e7e930;
			font-family: 'klinic_slabbook_italic';
		}
			#splash-page .footer .colophon a:hover {
				text-decoration: underline;
			}

		#splash-page .footer .colophon.social a {
			color: #ffffff;
			font-family: 'klinic_slablight';
		}
			
				

#splash-page .footer .footerRight {
	text-align: right;
}
	#splash-page .footer .footerRight p {
		color: #fff;
		font-size: 14px;
		margin:0 0 10px 0;
	}

		#splash-page .footer .footerRight p.madeBy {
			font-family: 'geared_slabthin';
			text-transform: uppercase;
		}
		#splash-page .footer .footerRight p.madeBy strong {
			font-weight: normal;
			font-family: 'geared_slabextrabold';
			color: #fff;
		}

/*application form*/
.b-modal {
	background-color: rgb(35,67,132) !important;
}

.container.app {
	display: none;
}

.application-form {
	width: 66%; /*780px*/
	background: #fff;
	padding: 60px 7%;
	margin: 0 auto;
	position: relative;
	display: none;
	font-family: 'klinic_slabbook';
}
	.application-form br {
		display: none !important;
	}

	.application-form .closeX {
		display: block;
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 24px;
		color: #234384;
		font-family: 'langdonregular';
		cursor: pointer;
		width: 60px;
		height: 60px;
		text-align: center;
	}

	.application-form h2 {
		margin-bottom: 30px;
	}
	.application-form h2:after {
		content: "";
		display: block;
		height: 6px;
		width: 7%;
		background: #e7e930;
		margin-top: 8px;
	}

	.application-form label,
	.application-form input[type="text"], .application-form input[type="email"],
	.application-form textarea {
		background: #fff;
		border: 1px solid #e3e3e3;
		font-size: 18px;
		color: #313131;
		font-family: 'klinic_slabbook';
	}

	.application-form label {
		border: none;
		margin-bottom: 5px;
	}

	.application-form .block {
		width: 100%;
		font-size: 0;
	}
		.application-form .block > p,
		.application-form .block.textarea.half > p {
			display: inline-block;
			width: 48%;
			margin: 0 4% 0 0;
			vertical-align: top;
		}
			.application-form .block > p:last-child,
			.application-form .block.textarea.half > p:last-child {
				margin: 0;
			}

			.application-form .block#address p.city {
				width: 32%;
			}

			.application-form .block#address p.province {
				width: 12%;
			}

			.application-form .block#personal-info p.gender {
				width: 13%;
			}

			.application-form .block#personal-info p.year,
			.application-form .block#personal-info p.height,
			.application-form .block#personal-info p.weight {
				width: 25%;
			}

			.application-form .block#gear-info p {
				width: 30.6%;
			}

			.application-form .block.textarea > p {
				width: 100%;
				margin: 0;
			}

		.application-form .block > p input[type="text"],
		.application-form input[type="email"] {
			width: 92%;
			padding: 0 4%;
			height: 55px;
			margin: 0 0 10px 0;
		}


		.application-form .block > p textarea {
			width: 96%;
			padding: 5px 2%;
			height: 120px;
			margin: 0 0 10px 0;
		}

		.application-form .block.submit {
			margin: 30px 0 0 0;
			text-align: center;
		}
			.application-form .block.submit > p {
				text-align: center;
			}

		.application-form .block .note {
			display: block;
			font-size: 14px;
		}

	.application-form .form {
		display: none;
	}

	.application-form .form.active-page {
		display: block;
	}

		.application-form .block:after {
			content: ".";
			clear: both;
			display: block;
			height: 0;
			visibility: hidden;
		}

	.application-form span.wpcf7-not-valid-tip {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.application-form .form-pager {
		width: 100%;
		text-align: center;
		margin-top: -35px;
		font-family: 'langdonregular';
		font-size: 18px;
		letter-spacing: 0.08em;
	}

	.application-form #page-one .form-pager{
		text-align: left;
	}

	.application-form #page-three .form-pager{
		text-align: right;
	}

	div.wpcf7-response-output {
		border: none !important;
		text-align: center;
	}

	/*div.wpcf7 .screen-reader-response {
		clip: auto !important;
		width: auto !important;
		height: auto !important;
	}*/


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#splash-page .container {
			width: 92%;
		}
		.mandmBtn {
			display: block;
		}
		#splash-page .cta .mandmBtn {
			margin: 0 10px 20px;
		}

		input[type="submit"].mandmBtn {
			width: 100%;
		}

		#splash-page h1 {
			font-size: 85px;
		}

		.application-form .closeX {
			top: 30px;
			right: 20px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#splash-page {
			height: auto;
		}

		#splash-page .header a {
			display: none;
		}

		#splash-page .containerWrapper {
			min-height: none;
			margin: 0;
		}
		.push {
			height: auto;
			display: none;;
		}
		#splash-page .footer  {
			height: auto;
			padding: 50px 0;
		}
		#splash-page .footer .container {
			padding-top: 0;
			margin-bottom: 0;
		}
		#splash-page h1 {
			font-size: 75px;
		}

		#splash-page .footer .footerLeft,
		#splash-page .footer .footerRight {
			display: block;
			width: 100%;
		}

		#splash-page .footer .footerRight {
			text-align: left;
			margin: 30px 0 20px;
		}

		.footer .colophon {

		}

		.application-form .closeX {
			top: 20px;
			text-align: right;
		}

		.application-form {
			width: 86%;
		}

		.application-form .block > p,
		.application-form .block.textarea.half > p {
			width: 100%;
			margin: 0 0 10px 0;
		}
			.application-form .block > p:last-child,
			.application-form .block.textarea.half > p:last-child {
				width: 100%;
				margin: 0 0 10px 0;
			}

			.application-form .block#address p.city {
				width: 100%;
			}

			.application-form .block#address p.province {
				width: 100%;
			}

			.application-form .block#personal-info p.gender {
				width: 100%;
			}

			.application-form .block#personal-info p.year,
			.application-form .block#personal-info p.height,
			.application-form .block#personal-info p.weight {
				width: 100%;
			}

			.application-form .block#gear-info p {
				width: 100%;
			}

			div.fancy-select div.trigger {
				padding: 15px 8% 9px 4%;
				width: 88%;
			}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#splash-page .container {
			/*margin-bottom: 50px;*/
		}

		#splash-page .cta {
			margin-top: 30px;
		}

		#splash-page h1 {
			font-size: 45px;
		}

		#splash-page p {
			font-size: 24px;
		}

	}

