/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('../fonts/klinicslablightit-webfont.eot');
    src: url('../fonts/klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablightit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablightit-webfont.woff') format('woff'),
         url('../fonts/klinicslablightit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook_italic';
    src: url('../fonts/klinicslabbookit-webfont.eot');
    src: url('../fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbookit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbookit-webfont.woff') format('woff'),
         url('../fonts/klinicslabbookit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slablight';
    src: url('../fonts/klinicslablight-webfont.eot');
    src: url('../fonts/klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablight-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablight-webfont.woff') format('woff'),
         url('../fonts/klinicslablight-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook';
    src: url('../fonts/klinicslabbook-webfont.eot');
    src: url('../fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbook-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbook-webfont.woff') format('woff'),
         url('../fonts/klinicslabbook-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'langdonregular';
    src: url('../fonts/langdon-webfont.eot');
    src: url('../fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/langdon-webfont.woff2') format('woff2'),
         url('../fonts/langdon-webfont.woff') format('woff'),
         url('../fonts/langdon-webfont.ttf') format('truetype'),
         url('../fonts/langdon-webfont.svg#langdonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geared_slabthin';
    src: url('../fonts/gearedslab-light-webfont.eot');
    src: url('../fonts/gearedslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gearedslab-light-webfont.woff2') format('woff2'),
         url('../fonts/gearedslab-light-webfont.woff') format('woff'),
         url('../fonts/gearedslab-light-webfont.ttf') format('truetype'),
         url('../fonts/gearedslab-light-webfont.svg#geared_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geared_slabextrabold';
    src: url('../fonts/gearedslab-extrabold-webfont.eot');
    src: url('../fonts/gearedslab-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gearedslab-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gearedslab-extrabold-webfont.woff') format('woff'),
         url('../fonts/gearedslab-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gearedslab-extrabold-webfont.svg#geared_slabextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
	yellow: #e7e930;
	blue: rgb(35,67,132) / #234384;
*/

html, body {
	margin: 0 !important;
	font-size:16px;
}


h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'langdonregular';
	color: #313131;
	line-height: 1.2em;
}

h1:after {
	content: "";
	display: block;
	height: 6px;
	width: 2.5%;
	background: #e7e930;
	margin-top: 5px;
}
h2:after {
	content: "";
	display: block;
	height: 6px;
	width: 7%;
	background: #e7e930;
	margin-top: 8px;
}
h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

h1.center {
	position: relative;
	display: inline;
}
	h1.center:after {
		position: absolute;
		top: 38px;
		left: 0;
		margin-top: 0;
		width: 14%;
	}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	line-height: 1.2em;
	font-family: 'klinic_slablight';
	color: #313131;
}

ul, ol {
	list-style: none;
}

input {
	 -webkit-appearance: none;
	 border-radius: 0 !important;
}

textarea {
	resize:none;
	border-radius: 0 !important;
}

input[type="submit"], input[type="file"] {
	outline: none;
}


.banner > img {
	border-bottom: 10px solid #234384;
}

.mandmBtn {
	background: #e7e930;
	color: #313131;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 50px;
	font-size: 26px;
	text-decoration: none;
	font-family: 'klinic_slabbook';
	text-decoration: none !important;
	cursor: pointer;
	border: none;
}

	.mandmBtn:hover {
		opacity: .8;
	}

	.mandmBtn.sub {
		background: #313131;
		color: #fff;
		font-size: 18px;
		padding: 15px 20px;
	}

	.mandmBtn.prev,
	.mandmBtn.next {
		max-width: 40%;
		margin-top: 10px;
	}

	.mandmBtn.prev {
		float: left;
	}

	.mandmBtn.next {
		float: right;
	}

.clear {
	clear: both;
	height: 0;
}

/* sticky footer bits*/
#pageContainer {
	height: 100%;
}
	.containerWrapper {
		min-height: 100%;
		margin: 0 auto -272px;
	}
	.push {
		height: 272px;
	}

.footer  {
	height: 265px;
	background: url('../images/footerbg.jpg') no-repeat center top #234384;
	background-size: cover;
	border-top: 7px solid #172b56;
}

.header {
	width: 100%;
    height:75px;
    border-bottom:  7px solid #4061a3;
    clear: both;
    background: #234384;
    text-align: center;
}

#global {
	padding: 30px 0 0 0;
}
	#global ul {
		font-size: 0;
	}
		#global li {
			display: inline-block;
			margin: 0 10px;
			font-size: 1rem;
			font-family: 'klinic_slablight';
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}

			#global li a {
				color: #fff;
				transition: all .3 linear;
			}

			#global li a:hover{
				color: #e7e930;
				text-decoration: none;
			}

.containerWrapper > .container {
	margin: 50px auto 100px;
}

.banner {
	margin-bottom: 20px;
}
	.banner > img {
		border-bottom: 10px solid #234384;
	}


.cta {
	text-align: center;
	margin-top: 70px;
}
	.cta .mandmBtn {
		margin: 0 10px;
	}


/*Sections*/	

.section {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}
	.section h1 {
		font-size: 2.375rem; /*38*/
	}


/*Sponsors*/
#sponsors {

}
	#sponsors .sectionWrapper {
		position: relative;
		background: rgba(35,67,132,.1);
		border-top: 7px solid #234384;
		padding: 30px 0;
		margin: 40px 0 0 0;
	}
		#sponsors .pager {
			position: absolute;
			top: -79px; /*padidng 30 + border 7 + height 42*/
			right: 0;
			width: 90px;
			height: 42px;
			font-size: 0;
		}

			#sponsors .pager > div {
				width: 42px;
				height: 42px;
				background: #345496;
				color: #fff;
				display: inline-block;

				transition: all .3s linear;
			}
				#sponsors .pager > div:first-child {
					margin-right: 1px;
				}
				#sponsors .pager > div:hover {
					background: #234384;
				}

				#sponsors .pager > div a {
					display: block;
					width: 100%;
					height: 100%;
					color: #fff;
					font-size: 1.25rem;
					line-height: 42px;
					font-family: FontAwesome;
					position: relative;
				}
					#sponsors .pager > div a.bx-prev:after {
						content: "\f104";
						position: absolute;
						top:0;
						left: 0;
						width: 100%;
						text-align: center;
					}
					#sponsors .pager > div a.bx-next:after {
						content: "\f105";
						position: absolute;
						top:0;
						left: 0;
						width: 100%;
						text-align: center;
					}

		#sponsors figure {
			background: #fff;
			border: 1px solid #cfd2d7;
			width: 220px;
			height: 220px;
			text-align: center;
		}
		#sponsors figure:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
			#sponsors figure img {
				display: inline-block;
  				vertical-align: middle;
			}


/* Footer */
.footer .container {
	padding-top: 50px;
}

.footer h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 0.9em;
	font-family: 'langdonregular';
	color: #ffffff;
	margin-bottom: 0.68em;
}

.footer h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

.footer .footerLeft,
.footer .footerRight {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}

	.footer .colophon {
		display: inline-block;
		width: 46%;
		margin:0 1% 0 0;
		vertical-align: top;
	}
		.footer .colophon:last-child {
			margin: 0 0 0 3%;
		}

	.footer .colophon address, 
	.footer .colophon p.contact {
		color: #fff;
		font-family: 'klinic_slablight';
		font-size: 16px;
		margin: 0;
		line-height: 1.25em;
	}

	.footer .colophon address {
		margin-bottom: 10px;
	}

	.footer .colophon.social p.contact {
		font-size: 18px;
		line-height: 1.7em;
	}
		.footer .colophon .fa {
			width: 25px;
		}

		.footer .colophon a {
			color: #e7e930;
			font-family: 'klinic_slabbook_italic';
		}
			.footer .colophon a:hover {
				text-decoration: underline;
			}

		.footer .colophon.social a {
			color: #ffffff;
			font-family: 'klinic_slablight';
		}
			
				
.footer .footerRight {
	text-align: right;
}
	.footer .footerRight p {
		color: #fff;
		font-size: 14px;
		margin:0 0 10px 0;
	}

		.footer .footerRight p.madeBy {
			font-family: 'geared_slabthin';
			text-transform: uppercase;
		}
		.footer .footerRight p.madeBy strong {
			font-weight: normal;
			font-family: 'geared_slabextrabold';
			color: #fff;
		}


/*application form*/
.b-modal {
	background-color: rgb(35,67,132) !important;
}

.container.app {
	display: none;
}

.application-form {
	width: 66%; /*780px*/
	background: #fff;
	padding: 60px 7%;
	margin: 0 auto;
	position: relative;
	display: none;
	font-family: 'klinic_slabbook';
}
	.application-form br {
		display: none !important;
	}

	.application-form .closeX {
		display: block;
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 24px;
		color: #234384;
		font-family: 'langdonregular';
		cursor: pointer;
		width: 60px;
		height: 60px;
		text-align: center;
	}

	.application-form h2 {
		margin-bottom: 30px;
	}
	.application-form h2:after {
		content: "";
		display: block;
		height: 6px;
		width: 7%;
		background: #e7e930;
		margin-top: 8px;
	}

	.application-form label,
	.application-form input[type="text"], .application-form input[type="email"],
	.application-form textarea {
		background: #fff;
		border: 1px solid #e3e3e3;
		font-size: 18px;
		color: #313131;
		font-family: 'klinic_slabbook';
	}

	.application-form label {
		border: none;
		margin-bottom: 5px;
	}

	.application-form .block {
		width: 100%;
		font-size: 0;
	}
		.application-form .block > p,
		.application-form .block.textarea.half > p {
			display: inline-block;
			width: 48%;
			margin: 0 4% 0 0;
			vertical-align: top;
		}
			.application-form .block > p:last-child,
			.application-form .block.textarea.half > p:last-child {
				margin: 0;
			}

			.application-form .block#address p.city {
				width: 32%;
			}

			.application-form .block#address p.province {
				width: 12%;
			}

			.application-form .block#personal-info p.gender {
				width: 13%;
			}

			.application-form .block#personal-info p.year,
			.application-form .block#personal-info p.height,
			.application-form .block#personal-info p.weight {
				width: 25%;
			}

			.application-form .block#gear-info p {
				width: 30.6%;
			}

			.application-form .block.textarea > p {
				width: 100%;
				margin: 0;
			}

		.application-form .block > p input[type="text"],
		.application-form input[type="email"] {
			width: 92%;
			padding: 0 4%;
			height: 55px;
			margin: 0 0 10px 0;
		}


		.application-form .block > p textarea {
			width: 96%;
			padding: 5px 2%;
			height: 120px;
			margin: 0 0 10px 0;
		}

		.application-form .block.submit {
			margin: 30px 0 0 0;
			text-align: center;
		}
			.application-form .block.submit > p {
				text-align: center;
			}

		.application-form .block .note {
			display: block;
			font-size: 14px;
		}

	.application-form .form {
		display: none;
	}

	.application-form .form.active-page {
		display: block;
	}

		.application-form .block:after {
			content: ".";
			clear: both;
			display: block;
			height: 0;
			visibility: hidden;
		}

	.application-form span.wpcf7-not-valid-tip {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.application-form .form-pager {
		width: 100%;
		text-align: center;
		margin-top: -35px;
		font-family: 'langdonregular';
		font-size: 18px;
		letter-spacing: 0.08em;
	}

	.application-form #page-one .form-pager{
		text-align: left;
	}

	.application-form #page-three .form-pager{
		text-align: right;
	}

	div.wpcf7-response-output {
		border: none !important;
		text-align: center;
	}


		



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		h1 {
			font-size: 85px;
		}

		.container {
			width: 92%;
		}

		.mandmBtn {
			display: block;
		}

			.cta .mandmBtn {
				margin: 0 10px 20px;
			}

			input[type="submit"].mandmBtn {
				width: 100%;
			}

		.application-form .closeX {
			top: 30px;
			right: 20px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#pageContainer {
			height: auto;
		}

		h1 {
			font-size: 75px;
		}

		/* remove sticky footer stuff */
		.containerWrapper {
			min-height: none;
			margin: 0;
		}
		.push {
			height: auto;
			display: none;;
		}
		.footer  {
			height: auto;
			padding: 50px 0;
		}
			.footer .container {
				padding-top: 0;
				margin-bottom: 0;
			}

			.footer .footerLeft,
			.footer .footerRight {
				display: block;
				width: 100%;
			}

			.footer .footerRight {
				text-align: left;
				margin: 30px 0 20px;
			}

		/*application form*/
		.application-form .closeX {
			top: 20px;
			text-align: right;
		}

		.application-form {
			width: 86%;
		}

		.application-form .block > p,
		.application-form .block.textarea.half > p {
			width: 100%;
			margin: 0 0 10px 0;
		}
			.application-form .block > p:last-child,
			.application-form .block.textarea.half > p:last-child {
				width: 100%;
				margin: 0 0 10px 0;
			}

			.application-form .block#address p.city {
				width: 100%;
			}

			.application-form .block#address p.province {
				width: 100%;
			}

			.application-form .block#personal-info p.gender {
				width: 100%;
			}

			.application-form .block#personal-info p.year,
			.application-form .block#personal-info p.height,
			.application-form .block#personal-info p.weight {
				width: 100%;
			}

			.application-form .block#gear-info p {
				width: 100%;
			}

			div.fancy-select div.trigger {
				padding: 15px 8% 9px 4%;
				width: 88%;
			}

			#sponsors .pager {
				display: none;
			}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		h1 {
			font-size: 45px;
		}

		p {
			font-size: 24px;
		}

		.cta {
			margin-top: 30px;
		}

	}

