/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('../fonts/klinicslablightit-webfont.eot');
    src: url('../fonts/klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablightit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablightit-webfont.woff') format('woff'),
         url('../fonts/klinicslablightit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook_italic';
    src: url('../fonts/klinicslabbookit-webfont.eot');
    src: url('../fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbookit-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbookit-webfont.woff') format('woff'),
         url('../fonts/klinicslabbookit-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slablight';
    src: url('../fonts/klinicslablight-webfont.eot');
    src: url('../fonts/klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablight-webfont.woff2') format('woff2'),
         url('../fonts/klinicslablight-webfont.woff') format('woff'),
         url('../fonts/klinicslablight-webfont.ttf') format('truetype'),
         url('../fonts/klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook';
    src: url('../fonts/klinicslabbook-webfont.eot');
    src: url('../fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbook-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabbook-webfont.woff') format('woff'),
         url('../fonts/klinicslabbook-webfont.ttf') format('truetype'),
         url('../fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'langdonregular';
    src: url('../fonts/langdon-webfont.eot');
    src: url('../fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/langdon-webfont.woff2') format('woff2'),
         url('../fonts/langdon-webfont.woff') format('woff'),
         url('../fonts/langdon-webfont.ttf') format('truetype'),
         url('../fonts/langdon-webfont.svg#langdonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'langdonregular';
	color: #313131;
}

h1:after {
	content: "";
	display: block;
	height: 10px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}
h2:after {

}
h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.banner > img {
	border-bottom: 10px solid #234384;
}

.mandmBtn {
	background: #e7e930;
	color: #313131;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 50px;
	font-size: 26px;
	text-decoration: none;
	font-family: 'klinic_slabbook';
	text-decoration: none !important;
}

/* splash page */
#splash-page {
	height: 100%;
}

#splash-page .containerWrapper {
	min-height: 100%;
	margin: 0 auto -272px;
}
.push {
	height: 272px;
}
#splash-page .footer  {
	height: 265px;
	background: url('../images/footerbg.jpg') no-repeat center top #234384;
	background-size: cover;
	border-top: 7px solid #172b56;
}

#splash-page a:hover {
	text-decoration: underline;
}

#splash-page .header {
	width: 100%;
    height:60px;
    border-bottom:  7px solid #4061a3;
    clear: both;
    background: #234384;
    text-align: right;
}

	#splash-page .header a {
		color: #fff;
		text-transform: uppercase;
		font-size: 15px;
		font-family: 'klinic_slablight_italic';
		line-height: 60px;
		letter-spacing: 0.05em;
	}

#splash-page .containerWrapper > .container {
	margin: 50px auto 100px;
}
#splash-page h1 {
	text-transform: uppercase;
	font-size: 119px;
	line-height: 0.9em;
	font-family: 'langdonregular';
	color: #313131;
}
#splash-page h1:after {
	content: "";
	display: block;
	height: 10px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}
#splash-page .banner {
	margin-bottom: 20px;
}
#splash-page .banner > img {
	border-bottom: 10px solid #234384;
}

#splash-page p {
	margin-top: 40px;
	font-size: 32px;
	line-height: 1.2em;
	font-family: 'klinic_slablight';
	color: #313131;
}

#splash-page .cta {
	text-align: center;
	margin-top: 70px;
}
#splash-page .cta .mandmBtn {
	margin: 0 10px;
}

/* Footer */
#splash-page .footer .container {
	padding-top: 50px;
}

#splash-page .footer h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 0.9em;
	font-family: 'langdonregular';
	color: #ffffff;
	margin-bottom: 0.68em;
}

#splash-page .footer h3:after {
	content: "";
	display: block;
	height: 5px;
	width: 10%;
	background: #e7e930;
	margin-top: 8px;
}

#splash-page .footer .footerLeft,
#splash-page .footer .footerRight {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}

	.footer .colophon {
		display: inline-block;
		width: 46%;
		margin:0 1%;
		vertical-align: top;
	}

	#splash-page .footer .colophon address, 
	#splash-page .footer .colophon p.contact {
		color: #fff;
		font-family: 'klinic_slablight';
		font-size: 16px;
		margin: 0;
		line-height: 1.25em;
	}

	#splash-page .footer .colophon address {
		margin-bottom: 10px;
	}

	#splash-page .footer .colophon.social p.contact {
		font-size: 18px;
		line-height: 1.7em;
	}
		#splash-page .footer .colophon .fa {
			width: 25px;
		}

		#splash-page .footer .colophon a {
			color: #e7e930;
			font-family: 'klinic_slabbook_italic';
		}
			#splash-page .footer .colophon a:hover {
				text-decoration: underline;
			}

		#splash-page .footer .colophon.social a {
			color: #ffffff;
			font-family: 'klinic_slablight';
		}
			
				

#splash-page .footer .footerRight {
	text-align: right;
}
	#splash-page .footer .footerRight p {
		color: #fff;
		font-size: 14px;
		margin:0 0 10px 0;
	}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#splash-page .container {
			width: 92%;
		}
		.mandmBtn {
			display: block;;
		}
		#splash-page .cta .mandmBtn {
			margin: 0 10px 20px;
		}

		#splash-page h1 {
			font-size: 85px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#splash-page h1 {
			font-size: 75px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#splash-page .container {
			margin-bottom: 50px;
		}

		#splash-page .cta {
			margin-top: 30px;
		}

		#splash-page h1 {
			font-size: 45px;
		}

		#splash-page p {
			font-size: 24px;
		}
	}

